h1{
    text-align: center;
}

#options{
    display: inline-block;
}

#listaArea, #basics{
    display: none;
}

#basics > div{
    width: fit-content;
    display: inline-grid;
    justify-items: center;
    padding-bottom: 20px;
    padding-right: 10px;
}

#basics > div > input {
    width: 50px;
}

.booster{
    display: inline-block;
    padding-bottom: 10px;
}

.booster > div{
    width:50%;
}

.booster > div > img{
    padding: 0px 2px;
    height: 250px;
    width: auto;
}

.booster > div > input{
    position: relative;
    right: 20px;
    bottom: 5px;
}
